{% extends 'base.html' %}

{% block costomcss %}
{% endblock costomcss %}
{% block header %}
<div class="alert alert-primary" role="alert">
    しゃないSNS 
  </div>
{% endblock header %}
{% block content %}
{% for item in object_list %}
<div class="alert alert-success" role="alert">
    <p>タイトル:<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
    <p>投稿者:{{item.author}}</p>
    <a href="{% url 'good' item.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">いいね:{{item.good}}</a>
    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">既読:{{item.read}}</a>
  </div>
{% endfor %}
<a href="{% url 'logout' %}">ログアウト</a>
{% endblock content %}